# Virtual environment
.venv/
venv/

# Python compiled files
*.pyc
__pycache__/

# PyCharm specific files
.idea/

# Node.js dependencies
node_modules/

# Environment variables
.env

.vs
/infrastructure/cdk/cdk.out/
cdk.out/

